*.class
*.ear
*.iml
*.jar
*.lcov
*.local
*.log
*.nar
*.njsproj
*.ntvs*
*.pid
*.pid.lock
*.rar
*.seed
*.sln
*.suo
*.sw?
*.tar.gz
*.tgz
*.tsbuildinfo
*.war
*.zip
.DS_Store
.bloop
.bloop/
.bsp
.bsp/
.cache
.cache/
.docusaurus
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fusebox/
.grunt
.idea
.idea/
.lh
.lock-wscript
.metals
.metals/
.mtj.tmp/
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.sbtopts
.serverless/
.stylelintcache
.temp
.tern-port
.vscode
.vscode-test
.vscode/
.vscode/*
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/build-sbt/
/client/dist/
/client/public/assets/shoelace/assets/icons/
/demos/**/dist-test/
/demos/**/target/
/dist/
/modules/**/target/
/project/**/target/
/qbin
/tags
/target/
/test/files/target/
/test/macro-annot/target/
/test/target/
/website/**/build/
/website/**/target/
bower_components
build/Release
coverage
dist
dist-ssr
dist-test
hs_err_pid*
jitwatch.out
jspm_packages/
lerna-debug.log*
lib-cov
local.sbt
logs
metals.sbt
node_modules
node_modules/
npm-debug.log*
out
pids
pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
server/src/main/resources/static/
target/
web_modules/
yarn-debug.log*
yarn-error.log*